@model IEnumerable<Football.Models.Game>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background: lightblue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div {
        color: teal;
    }
</style>

<h1>Games</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Home)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.HomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestScore)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Guest)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.Home.NameOfTeam)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Guest.NameOfTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Game_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Game_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Game_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
